@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
	html {
		background-color: #4b705f;
		color: #ffcccc;
	}
	div.container {
		display: inline;
		align-content: center;
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
	}
	table, td {
		border-width: .15em;
		border-style: dashed;
		background-color: #a35361;
		border-radius: 1em;
  		text-align: center;
  		vertical-align: middle;
	}
	img.social {
		width:  5em;
		display: block;
		transform: scale(.8, .8);
		border-radius: 1.5em;
	}
	td {
		width: 4.2em;
		height: 4.2em;
		padding: 0;  /* for filling cell */
	}
	button:hover {
		filter: invert(.5);
	}
	button:focus > img {
		transform: scale(.8, .8) translateY(.1em);
		animation: transform .1s;
	}
	td.social {
		animation: background 0s 1.5s forwards;
		border: none;
	}
	@keyframes background {
		100% {
			background-color: white; /*not immediately*/
		}
	}
	.header {
		font-family: 'Pacifico', cursive;
	}
	td, p, figcaption {
		font-family: 'Indie Flower', normal;
	}
	.icon {
		border-width: .15em;
		border-style: dashed;
		width: 6em;
		height: auto;
		border-radius: 3em;
	}
	figure, p {
		font-size: 1.5em;
		margin: .1em;
	}
	h2 {
		margin: .2em;
	}
	td {
		font-weight: bold;
	}
	td.social {
		border-radius: 1.5em;
	}
	button {
		padding: 0; /* for filling button */
		background: none;
		border: none;
		display: block;
		border-radius: 1.5em;
		cursor: pointer;
		box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, .8),inset 0 -1em 0 0 rgba(0, 0, 0, .25);
		background-color: white;
		animation: backgroundTransparent .1s forwards;
	}
	@keyframes backgroundTransparent {
		100% {
			background-color: rgba(0, 0, 0, 0);
		}
	}
	.appearing-enter-active {
		animation: appearingAnimation .5s;
	}
	@keyframes appearingAnimation {
		0% {
			opacity: 0;
			transform: scale(0);
		}
		50% {
			opacity: .5;
			transform:  scale(1.5);
		}
		100% {
			opacity: 1;
			transform:  scale(1);
		}
	}