@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
	html {
		background-color: #4b705f;
		color: #ffcccc;
	}
	div.container {
		display: inline;
		align-content: center;
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
	}
	table, td {
		border-width: 0.02em;
		border-style: dashed;
		background-color: #a35361;
		border-radius: 0.5em;
  		text-align: center;
  		vertical-align: middle;
	}
	img.social {
		width:  3em;
		display: block;
		transform: scale(0.8, 0.8);
	}
	td {
		padding: 0;  /* for filling cell */
	}
	button:hover {
		filter: invert(0.5);
	}
	button:focus > img {
		transform: scale(0.8,0.8) translateY(0.1em);
		animation: transform 0.1s;
	}
	td.social {
		width: 2.5em;
		height: 2.5em;
		animation: background .5s alternate forwards;
	}
	@keyframes background {
		100% {
			background-color: white; /*not immediately*/
		}
	}
	.header {
		font-family: 'Pacifico', cursive;
	}
	td, p, figcaption {
		font-family: 'Indie Flower', normal;
	}
	.icon {
		border-width: 0.02em;
		border-style: dashed;
		width: 4em;
		height: auto;
		border-radius: 0.5em;
	}
	figure, p {
		margin: 0;
	}
	h3 {
		margin: 0.2em;
	}
	button {
		padding: 0; /* for filling button */
		background: none;
		border: none;
		display: block;
		border-radius: 0.5em;
		cursor: url(../handy.png) 5 0, default;
		box-shadow: 0 0.1em 0.5em 0 rgba(0,0,0,0.8),inset 0 -1em 0 0 rgba(0, 0, 0, 0.25);
	}
	.appearing-enter-active {
		animation: appearingAnimation .5s;
	}
	@keyframes appearingAnimation {
		0% {
			opacity: 0;
			transform: scale(0);
		}
		50% {
			opacity: .5;
			transform:  scale(1.5);
		}
		100% {
			opacity: 1;
			transform:  scale(1);
		}
	}